html,body { height: 100%; margin: 0px; padding: 10px; }

/****************************/
/********** header **********/
/****************************/


.button {
 
  
  background-color: blue;

}

h1 {
  text-align: center;
  font-family: sans-serif;
}
h2 {
  text-align: center;
  font-family: sans-serif;
}
h3 {
  text-align: right;
  font-family: sans-serif;
}

button:hover {
  background-color: orange; /* Green */
  color: black;
}

.container {
  align: center;
  padding-top: 20px;
  padding-left: 120px;
}

.answer {
  transition-duration: 0.4s;
  display: block;
  background-color: blue;
  color: white;
   border: 2px solid; /* Green */
  padding: 15px 32px;
 width: 70%;
  text-align: left;
  text-decoration: none;
 
  font-size: 18px;
}

.question {
  display: block;
  font-family: sans-serif;
  background-color: darkblue;
  color: white;
   border: 2px solid; /* Green */
  padding: 15px 32px;
 width: 60%;
  text-align: left;
  text-decoration: none;
 
  font-size: 18px;
}

.next {
  display: block;
  background-color: : green;
  
  padding: 15px 32px;
 width: 150px;
  text-align: left;
  text-decoration: none;
 
  font-size: 12px;
}

